{% extends 'base_template.html' %}

{% block tsa %}

          
            <table class="table table-bordered" style="width: 80%; margin-left: 10%;">
                <tbody>
                  {% for keys,values in data[1][1].items() %}
                  <tr>
                    <td style="text-align: center;">{{keys}}</td>
                    {% for val in values %}
                    <td style="text-align: center;">{{val}}</td>
                    {% endfor %}
                  </tr>
                 
                  {% endfor %}

                </tbody>
              </table>

               
            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align: center;">{{data[2][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for val in data[2][1] %}
                <tr>
                  <td style="text-align: center;">{{val}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[3][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[3][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>


            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="text-align: center;">{{data[4][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[4][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[5][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[5][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[6][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[6][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="text-align: center;">{{data[7][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[7][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="text-align: center;">{{data[7][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[7][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>
              
            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[8][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[8][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[9][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[9][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[10][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[10][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[11][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[11][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[12][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[12][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>
            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[13][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[13][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[14][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[14][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[15][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[15][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[16][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[16][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[17][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[17][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[18][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[18][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="text-align: center;">{{data[19][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[19][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[19][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[6][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

            <table class="table table-bordered" style="width: 80%; margin-left: 10%; margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col" colspan="5" style="text-align: center;">{{data[20][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for keys,values in data[20][1].items() %}
                <tr>
                  <td style="text-align: center;">{{keys}}</td>
                  {% for val in values %}
                  <td style="text-align: center;">{{val}}</td>
                  {% endfor %}
                </tr>
               
                {% endfor %}

              </tbody>
            </table>

{% endblock %}