  {% extends "base_template.html" %}

  {% block index %}
  <table class="table table-bordered" style=" width:80%; margin-left: 10%; margin-right: 10%;">
    <thead>
      <tr>
        <th scope="col" colspan="2" style="text-align: center;">Select Any One </th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td style="text-align: center;">    <a href="/topstock/">
          <button type="button" class="btn btn-primary btn-lg" >Top Stock</button>
          </a></td>
      </tr>
      <tr><td style="text-align: center;">    <a href="/screener/">
        <button type="button" class="btn btn-primary btn-lg" >Screenr</button>
    </a></td></tr>
    <tr><td style="text-align: center;">    <a href="/news/">
      <button type="button" class="btn btn-primary btn-lg" >News</button>
  </a></td></tr>
    </tbody>

 {% endblock %}